<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppConnectionString" connectionString="YourCS"/>
  </connectionStrings>
  <appSettings>
    <add key="SupportingFileType" value=".txt"/>
    <add key="SupportingFileTxtFilter" value="Text documents (.txt)|*.txt"/>
    <add key="SupportingFilePDFFilter" value="(*.pdf)|*.pdf"/>
    <add key="ApplicationName" value="ExFile Manager Application"/>
    <!--<add key="HostAddress" value="ftp://192.168.1.103"/>-->
	  <add key="HostAddress" value="62.232.70.202"/>
	 
	  <!-- <add key="HostAddress" value="ftp://10.0.0.4"/> -->
      <add key="UserId" value="MAP\test.1"/>
    <add key="Password" value="Qwerty2016!!"/>
	  <add key="port" value="2222"/>
 
  </appSettings>
</configuration>